# Data Manipulation with Pandas

In the previous lectures, we dove into NumPy and its ``ndarray`` object, which provides efficient storage and manipulation of dense typed arrays in Python. Here we'll build on this knowledge by looking at the data structures provided by the Pandas library. Pandas is a newer package built on top of NumPy, and provides an efficient implementation of a ``DataFrame``. ``DataFrame``s are essentially multidimensional arrays with attached row and column labels, and often with heterogeneous types and/or missing data. As well as offering a convenient storage interface for labeled data, Pandas implements a number of powerful data operations familiar to users of both database frameworks and spreadsheet programs.

As we saw, NumPy's ``ndarray`` data structure provides essential features for the type of clean, well-organized data typically seen in numerical computing tasks. While it serves this purpose very well, its limitations become clear when we need more flexibility (e.g., attaching labels to data, working with missing data, etc.) and when attempting operations that do not map well to element-wise broadcasting (e.g., groupings, pivots, etc.), each of which is an important piece of analyzing the less structured data available in many forms in the world around us. Pandas, and in particular its ``Series`` and ``DataFrame`` objects, builds on the NumPy array structure and provides efficient access to these sorts of "data munging" tasks that occupy much of a data scientist's time.

Here we will focus on the mechanics of using ``Series``, ``DataFrame``, and related structures effectively.

In [ ]:
import numpy as np
import pandas as pd

## Reading Data

Accessing data is a critical first step in any data science project. Many times data can be obtained in simple delimited (e.g., comma, tab) formats that are relatively easy to read in using functionality built into the Pandas module. There are other formats that data could be in (e.g., json, excel, netCDF, etc.), but we won't focus on those in this course.

Pandas Tutorial on Reading Data: https://pandas.pydata.org/docs/getting_started/intro_tutorials/02_read_write.html

Curated data sets (e.g., the Titanic dataset: https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/titanic.csv) are often easy to read as they have well defined column headers and don't require use of any special handling to successfully read them into a notebook.

## DataFrame
The data object that tabular data is read into with Pandas is known as a `DataFrame` (a commonly used variable name to represent this is `df`). A DataFrame represents a rectangular table of data and contains an ordered collec‐ tion of columns, each of which can be a different value type (numeric, string, boolean, etc.). The DataFrame has both a row and column index; it can be thought of as a dict of `Series` all sharing the same index. Under the hood, the data is stored as one or more two-dimensional blocks rather than a list, dict, or some other collection of one-dimensional arrays. The exact details of DataFrame’s internals are outside the scope of this book.

In [ ]:
df = pd.read_csv('https://datahub.io/machine-learning/iris/r/iris.csv')

In [ ]:
df

     sepallength  sepalwidth  petallength  petalwidth           class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

## Reading a New Dataset

Some datasets may contain metadata or additional information somewhere within a file you are attempting to read in. This will likely cause your data to be read in a manner that won't allow it to be successfully used. To demonstrate the use of keyword arguments in reading in a dataset, we'll use the Southern Oscillation Index (SOI) dataset, which is a measure related to El Nino events.

The raw dataset can be found at: https://www.cpc.ncep.noaa.gov/data/indices/soi

In [ ]:
df_soi = pd.read_fwf('https://www.cpc.ncep.noaa.gov/data/indices/soi',
                     skiprows=3, widths=[4, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6],
                     skipfooter=84, index_col=0, na_values=[-999.9])

In [ ]:
df_soi

      JAN  FEB  MAR  APR  MAY  JUN  JUL  AUG  SEP  OCT  NOV  DEC
YEAR
1951  2.5  1.5 -0.2 -0.5 -1.1  0.3 -1.7 -0.4 -1.8 -1.6 -1.3 -1.2
1952 -1.5 -1.0  0.9 -0.4  1.2  1.2  0.8  0.1 -0.4  0.6  0.0 -2.0
1953  0.5 -0.8 -0.3  0.3 -2.8  0.2 -0.0 -2.0 -2.1  0.1 -0.5 -0.8
1954  1.1 -0.5  0.4  1.1  0.8  0.2  0.7  1.8  0.3  0.4  0.2  2.3
1955 -0.9  3.1  1.1 -0.2  1.7  2.2  2.6  2.4  2.2  2.5  2.0  1.6
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
2026  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2027  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2028  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2029  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2030  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[80 rows x 12 columns]

Sometimes the way we have read in similar data just won't work. We have to move to an alternative. What do you think are difficulties we would have reading in the SOI data set based on the output above and inspecting the data via the link?

In [ ]:
df_soi.JAN is df_soi['JAN']

True

In [ ]:
df_soi.iloc[40:50]

      JAN  FEB  MAR  APR  MAY  JUN  JUL  AUG  SEP  OCT  NOV  DEC
YEAR
1991  1.0  0.4 -1.1 -1.0 -1.7 -0.2  0.0 -0.7 -2.5 -1.7 -1.1 -2.9
1992 -4.7 -1.5 -3.3 -1.7  0.4 -1.0 -1.0  0.6  0.1 -2.3 -1.1 -0.9
1993 -1.5 -1.2 -0.8 -1.9 -0.6 -1.4 -1.3 -1.6 -1.2 -1.8 -0.1  0.3
1994 -0.2  0.4 -1.1 -2.1 -1.1 -0.7 -2.2 -2.0 -2.6 -1.9 -0.9 -2.0
1995 -0.7 -0.2  1.2 -1.1 -0.6  0.2  0.7  0.5  0.4  0.0  0.1 -0.8
1996  1.6  0.4  1.9  1.3  0.5  1.9  1.1  1.2  1.0  1.0 -0.1  1.5
1997  0.8  2.9 -0.7 -1.0 -2.2 -2.3 -1.2 -2.4 -2.4 -2.4 -2.0 -1.6
1998 -4.4 -3.4 -4.0 -2.4  0.4  1.6  2.0  1.9  1.7  1.8  1.7  2.3
1999  3.0  1.6  2.1  2.3  0.4  0.4  0.9  0.6 -0.1  1.6  1.7  2.4
2000  1.1  2.7  2.2  2.0  0.6 -0.3 -0.3  1.2  1.4  1.8  3.0  1.3

## Add Calculated Column
Let's calculate the average SOI value for each year and add it as a new column to the DataFrame.

We can use either methods built into the DataFrame itself or use Numpy functions to aid in the calculation.

In [ ]:
average = np.mean(df_soi, axis=1)
df_soi['AVG'] = average
df_soi.tail(10)

      JAN  FEB  MAR  APR  MAY  JUN  JUL  AUG  SEP  OCT  NOV  DEC     AVG
YEAR
2021  3.2  2.5  0.6  0.6  0.8  0.7  2.3  1.0  NaN  NaN  NaN  NaN  1.4625
2022  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN     NaN
2023  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN     NaN
2024  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN     NaN
2025  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN     NaN
2026  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN     NaN
2027  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN     NaN
2028  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN     NaN
2029  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN     NaN
2030  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN     NaN

In [ ]:
max_val = df_soi.max(axis=1)
df_soi['MAX'] = max_val
df_soi.tail(11)

      JAN  FEB  MAR  APR  MAY  JUN  JUL  AUG  SEP  OCT  NOV  DEC     AVG  MAX
YEAR
2020  0.3 -0.1 -0.2  0.3  0.7 -0.6  0.7  1.8  1.5  0.8  1.1  3.0  0.7750  3.0
2021  3.2  2.5  0.6  0.6  0.8  0.7  2.3  1.0  NaN  NaN  NaN  NaN  1.4625  3.2
2022  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN     NaN  NaN
2023  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN     NaN  NaN
2024  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN     NaN  NaN
2025  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN     NaN  NaN
2026  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN     NaN  NaN
2027  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN     NaN  NaN
2028  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN     NaN  NaN
2029  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN     NaN  NaN
2030  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN     NaN  NaN

## Operating on Null Values

As we have seen, Pandas treats ``None`` and ``NaN`` as essentially interchangeable for indicating missing or null values.
To facilitate this convention, there are several useful methods for detecting, removing, and replacing null values in Pandas data structures.
They are:

- ``isnull()``: Generate a boolean mask indicating missing values
- ``notnull()``: Opposite of ``isnull()``
- ``dropna()``: Return a filtered version of the data
- ``fillna()``: Return a copy of the data with missing values filled or imputed

We will conclude this section with a brief exploration and demonstration of these routines.

### Detecting null values
Pandas data structures have two useful methods for detecting null data: ``isnull()`` and ``notnull()``.
Either one will return a Boolean mask over the data.

In [ ]:
df_soi.isnull().any()

JAN    True
FEB    True
MAR    True
APR    True
MAY    True
JUN    True
JUL    True
AUG    True
SEP    True
OCT    True
NOV    True
DEC    True
AVG    True
MAX    True
dtype: bool

### Dropping null values

In addition to the masking used before, there are the convenience methods, ``dropna()``
(which removes NA values) and ``fillna()`` (which fills in NA values). For a ``Series``,
the result is straightforward:

In [ ]:
df_soi.dropna(inplace=True)

In [ ]:
df_soi

      JAN  FEB  MAR  APR  MAY  JUN  JUL  AUG  SEP  OCT  NOV  DEC       AVG  MAX
YEAR
1951  2.5  1.5 -0.2 -0.5 -1.1  0.3 -1.7 -0.4 -1.8 -1.6 -1.3 -1.2 -0.458333  2.5
1952 -1.5 -1.0  0.9 -0.4  1.2  1.2  0.8  0.1 -0.4  0.6  0.0 -2.0 -0.041667  1.2
1953  0.5 -0.8 -0.3  0.3 -2.8  0.2 -0.0 -2.0 -2.1  0.1 -0.5 -0.8 -0.683333  0.5
1954  1.1 -0.5  0.4  1.1  0.8  0.2  0.7  1.8  0.3  0.4  0.2  2.3  0.733333  2.3
1955 -0.9  3.1  1.1 -0.2  1.7  2.2  2.6  2.4  2.2  2.5  2.0  1.6  1.691667  3.1
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...  ...
2016 -3.6 -3.2 -0.1 -2.0  0.7  1.1  0.7  1.2  2.0 -0.4 -0.2  0.5 -0.275000  2.0
2017  0.3 -0.1  1.5 -0.3  0.4 -0.7  1.3  0.9  1.0  1.5  1.5 -0.2  0.591667  1.5
2018  1.8 -0.8  2.4  0.8  0.6 -0.2  0.4 -0.5 -1.5  0.6 -0.1  1.7  0.433333  2.4
2019 -0.1 -2.3 -0.5  0.2 -0.7 -0.7 -0.6 -0.2 -1.9 -0.6 -1.4 -0.9 -0.808333  0.2
2020  0.3 -0.1 -0.2  0.3  0.7 -0.6  0.7  1.8  1.5  0.8  1.1  3.0  0.775000  3.0

[70 rows x 14 columns]

We cannot drop single values from a ``DataFrame``; we can only drop full rows or full columns.
Depending on the application, you might want one or the other, so ``dropna()`` gives a number of options for a ``DataFrame``.

## Output Refined Datasets
We don't ever want to change the raw dataset, so that we can always go back to it in case we need to. Other times we don't want to have to use the time or computer memory to read in ALL of the data, if we are only working with a small subset of rows or columns.

So once you have your refined dataset, you may want to save it in a format that you can quickly read it back in to a notebook.

As long as your dataset is a DataFrame, there are methods to save in similar formats that Pandas can read including, comma deliminated (csv), excel, and JSON.

Let's save our refined SOI dataset as a comma deliminated file with our added columns.

In [ ]:
df_soi.to_csv('new_soi_output.csv')

In [ ]:
!cat new_soi_output.csv

YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,AVG,MAX
1951,2.5,1.5,-0.2,-0.5,-1.1,0.3,-1.7,-0.4,-1.8,-1.6,-1.3,-1.2,-0.4583333333333334,2.5
1952,-1.5,-1.0,0.9,-0.4,1.2,1.2,0.8,0.1,-0.4,0.6,0.0,-2.0,-0.041666666666666664,1.2
1953,0.5,-0.8,-0.3,0.3,-2.8,0.2,-0.0,-2.0,-2.1,0.1,-0.5,-0.8,-0.6833333333333335,0.5
1954,1.1,-0.5,0.4,1.1,0.8,0.2,0.7,1.8,0.3,0.4,0.2,2.3,0.7333333333333334,2.3
1955,-0.9,3.1,1.1,-0.2,1.7,2.2,2.6,2.4,2.2,2.5,2.0,1.6,1.6916666666666667,3.1
1956,2.2,2.7,2.2,1.5,2.3,1.8,1.8,2.0,0.1,2.9,0.2,1.8,1.791666666666667,2.9
1957,1.0,-0.1,0.3,0.4,-1.1,0.3,0.4,-0.8,-1.5,0.1,-1.6,-0.5,-0.25833333333333336,1.0
1958,-3.1,-0.8,0.4,0.6,-0.8,0.5,0.7,1.5,-0.5,0.1,-0.7,-1.0,-0.2583333333333333,1.5
1959,-1.5,-2.3,2.1,0.7,0.8,-0.2,-0.4,-0.2,0.0,0.8,1.5,1.5,0.23333333333333336,2.1
1960,0.2,0.2,1.7,1.3,0.9,0.2,0.8,1.3,1.1,0.2,0.9,1.3,0.8416666666666668,1.7
1961,-0.4,1.5,-3.0,1.3,0.5,0.2,0.4,0.2,0.1,-0.5,0.9,2.5,0.30833333333333335,2.5
1962,3.3,-0.5,0.2,0.3,1.8,1.2,0.1,1.0,0.7,1.6,0.5,0.3,0.875,3.3
1963,1.7,0.9,1.9,1.3,0.6,-0.8,-0.2,0.0,-1.0,-2.0,-1.4,-2.0,-0.08333333333333337,1.9
1964,-0.6,0.1,1.9,1.8,0.4,1.2,0.9,2.5,2.1,2.2,0.3,-0.5,1.0250000000000001,2.5
1965,-0.7,0.7,1.2,-0.9,0.3,-0.9,-3.0,-1.1,-2.2,-1.5,-2.4,0.3,-0.8500000000000001,1.2
1966,-2.2,-0.4,-1.5,-0.3,-0.7,0.5,0.1,1.1,-0.4,-0.2,-0.0,-0.6,-0.3833333333333333,1.1
1967,2.8,2.8,2.0,-0.1,-0.0,1.1,0.3,1.2,0.8,0.1,-0.7,-0.9,0.7833333333333333,2.8
1968,0.9,2.1,0.2,0.0,2.1,1.8,1.1,0.4,-0.4,-0.1,-0.6,0.3,0.6500000000000001,2.1
1969,-2.4,-0.9,0.7,-0.6,-0.4,0.3,-0.8,-0.2,-1.6,-1.5,-0.1,0.7,-0.5666666666666667,0.7
1970,-1.9,-1.7,1.0,-0.1,0.6,1.6,-0.6,1.0,1.9,1.7,2.6,3.2,0.775,3.2
1971,0.6,3.3,3.8,2.8,1.4,0.7,0.4,2.5,2.3,2.8,0.9,0.4,1.825,3.8
1972,0.8,1.8,1.1,-0.2,-2.6,-0.9,-2.4,-0.8,-2.2,-1.5,-0.6,-2.1,-0.7999999999999999,1.8
1973,-0.5,-2.3,1.2,0.1,0.7,1.8,1.0,2.1,2.0,1.3,4.3,3.0,1.2249999999999999,4.3
1974,4.0,3.4,4.0,1.6,1.6,0.7,1.9,1.3,1.8,1.5,-0.2,0.3,1.8250000000000002,4.0
1975,-0.8,1.3,2.6,1.9,1.1,2.1,3.1,3.3,3.4,2.8,1.9,3.5,2.183333333333333,3.5
1976,2.3,2.8,2.9,0.5,0.6,0.4,-1.4,-1.3,-1.9,0.7,1.2,-0.6,0.5166666666666667,2.9
1977,-0.7,2.0,-0.9,-0.7,-0.8,-1.5,-1.9,-1.3,-1.3,-1.7,-2.1,-1.7,-1.0499999999999998,2.0
1978,-0.5,-4.4,-0.3,-0.5,2.2,1.1,0.9,0.7,0.1,-0.6,-0.0,-0.1,-0.11666666666666668,2.2
1979,-0.7,1.6,0.2,-0.2,0.8,1.1,2.2,-0.3,0.2,-0.2,-0.7,-1.2,0.2333333333333333,2.2
1980,0.7,0.5,-0.7,-1.0,-0.0,-0.0,-0.1,0.6,-0.8,0.0,-0.6,-0.1,-0.125,0.7
1981,0.6,-0.3,-2.1,-0.2,1.3,2.0,1.4,1.2,0.5,-0.6,0.3,0.8,0.4083333333333334,2.0
1982,2.0,0.4,1.0,0.1,-0.6,-1.7,-2.5,-2.9,-2.9,-2.8,-4.3,-3.7,-1.4916666666666665,2.0
1983,-5.8,-6.0,-4.0,-1.5,1.0,0.1,-1.0,0.2,1.4,0.7,-0.2,0.0,-1.2583333333333333,1.4
1984,0.3,1.4,-0.4,0.6,0.3,-0.6,0.3,0.7,0.2,-0.5,0.4,-0.2,0.2083333333333333,1.4
1985,-0.5,2.0,1.3,1.9,0.7,-0.6,-0.2,1.6,0.0,-0.6,-0.3,0.4,0.47500000000000003,2.0
1986,1.6,-1.7,0.8,0.5,-0.4,1.6,0.5,-0.6,-0.8,1.1,-2.0,-2.4,-0.14999999999999994,1.6
1987,-1.1,-2.1,-2.1,-2.3,-2.1,-1.8,-2.2,-1.5,-1.7,-0.6,-0.0,-0.8,-1.5250000000000004,-0.0
1988,-0.2,-0.6,1.1,0.2,1.5,0.1,1.7,2.5,3.0,2.3,2.8,2.0,1.366666666666667,3.0
1989,2.5,2.0,1.8,2.7,2.0,1.2,1.5,-0.5,0.8,1.3,-0.4,-0.9,1.1666666666666667,2.7
1990,-0.1,-3.0,-0.7,0.3,2.0,0.5,0.9,-0.3,-1.2,0.4,-0.8,-0.4,-0.19999999999999998,2.0
1991,1.0,0.4,-1.1,-1.0,-1.7,-0.2,0.0,-0.7,-2.5,-1.7,-1.1,-2.9,-0.9583333333333335,1.0
1992,-4.7,-1.5,-3.3,-1.7,0.4,-1.0,-1.0,0.6,0.1,-2.3,-1.1,-0.9,-1.3666666666666665,0.6
1993,-1.5,-1.2,-0.8,-1.9,-0.6,-1.4,-1.3,-1.6,-1.2,-1.8,-0.1,0.3,-1.0916666666666666,0.3
1994,-0.2,0.4,-1.1,-2.1,-1.1,-0.7,-2.2,-2.0,-2.6,-1.9,-0.9,-2.0,-1.3666666666666665,0.4
1995,-0.7,-0.2,1.2,-1.1,-0.6,0.2,0.7,0.5,0.4,0.0,0.1,-0.8,-0.025000000000000005,1.2
1996,1.6,0.4,1.9,1.3,0.5,1.9,1.1,1.2,1.0,1.0,-0.1,1.5,1.1083333333333332,1.9
1997,0.8,2.9,-0.7,-1.0,-2.2,-2.3,-1.2,-2.4,-2.4,-2.4,-2.0,-1.6,-1.2083333333333333,2.9
1998,-4.4,-3.4,-4.0,-2.4,0.4,1.6,2.0,1.9,1.7,1.8,1.7,2.3,-0.06666666666666672,2.3
1999,3.0,1.6,2.1,2.3,0.4,0.4,0.9,0.6,-0.1,1.6,1.7,2.4,1.4083333333333332,3.0
2000,1.1,2.7,2.2,2.0,0.6,-0.3,-0.3,1.2,1.4,1.8,3.0,1.3,1.3916666666666666,3.0
2001,1.6,2.8,1.5,0.3,-0.8,0.5,-0.3,-0.7,0.3,-0.1,1.1,-1.4,0.4000000000000001,2.8
2002,0.7,1.8,-0.4,-0.1,-1.4,-0.4,-0.8,-1.6,-1.0,-0.6,-0.7,-1.8,-0.525,1.8
2003,-0.3,-1.1,-0.5,-0.2,-0.5,-1.0,0.5,0.2,-0.2,0.0,-0.5,1.8,-0.15,1.8
2004,-2.2,2.0,0.7,-1.5,1.7,-1.4,-0.8,-0.5,-0.6,-0.1,-1.1,-1.3,-0.42500000000000004,2.0
2005,0.6,-5.2,0.5,-1.0,-1.3,0.7,0.3,-0.6,0.6,2.0,-0.3,-0.0,-0.30833333333333335,2.0
2006,2.7,0.2,2.9,1.8,-0.8,-0.4,-1.0,-1.7,-1.0,-2.1,0.1,-0.5,0.016666666666666673,2.9
2007,-1.3,-0.1,0.3,-0.2,-0.2,0.9,-0.5,0.7,0.3,1.2,1.4,2.7,0.43333333333333335,2.7
2008,2.9,4.4,2.4,1.1,-0.1,1.0,0.5,1.7,2.0,2.1,2.2,2.4,1.883333333333333,4.4
2009,1.8,3.1,0.7,1.3,-0.2,0.2,0.4,-0.3,0.5,-2.0,-1.0,-1.2,0.2750000000000001,3.1
2010,-1.8,-2.4,-1.1,2.0,1.5,0.6,3.0,3.0,3.7,2.9,2.1,4.8,1.5250000000000001,4.8
2011,3.8,4.5,4.2,3.1,0.6,0.4,1.6,0.7,1.7,1.2,1.8,4.1,2.308333333333333,4.5
2012,1.8,0.8,1.2,-0.4,0.1,-0.7,-0.1,-0.3,0.4,0.5,0.4,-1.0,0.22499999999999998,1.8
2013,-0.1,-0.4,2.5,0.4,1.3,2.0,1.3,0.3,0.5,-0.1,1.2,0.1,0.75,2.5
2014,2.4,0.1,-1.5,1.3,0.9,0.3,-0.3,-1.2,-1.2,-1.0,-1.5,-0.9,-0.21666666666666667,2.4
2015,-1.4,0.4,-1.2,-0.1,-1.2,-0.9,-1.9,-2.4,-2.7,-2.8,-0.8,-0.9,-1.3250000000000004,0.4
2016,-3.6,-3.2,-0.1,-2.0,0.7,1.1,0.7,1.2,2.0,-0.4,-0.2,0.5,-0.2750000000000001,2.0
2017,0.3,-0.1,1.5,-0.3,0.4,-0.7,1.3,0.9,1.0,1.5,1.5,-0.2,0.5916666666666667,1.5
2018,1.8,-0.8,2.4,0.8,0.6,-0.2,0.4,-0.5,-1.5,0.6,-0.1,1.7,0.43333333333333335,2.4
2019,-0.1,-2.3,-0.5,0.2,-0.7,-0.7,-0.6,-0.2,-1.9,-0.6,-1.4,-0.9,-0.8083333333333332,0.2
2020,0.3,-0.1,-0.2,0.3,0.7,-0.6,0.7,1.8,1.5,0.8,1.1,3.0,0.775,3.0